.blog-header {
    background-color: #f0f0f0;
    padding: 20px;
}

.blog-header h2 {
    color: #333;
    margin: 0;
}

.toggle-container {
    text-align: right;
    margin-bottom: 20px;
}

.toggle-container button {
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.toggle-container button:hover {
    background-color: #555;
}

.blog-content {
    margin-top: 20px;
}

.blog-post {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.blog-post h3 {
    color: #333;
    margin-top: 0;
}

.blog-post p {
    color: #666;
}


.dark-mode .blog-header {
    background-color: #333;
}

.dark-mode .blog-header h2 {
    color: #fff;
}

.dark-mode .toggle-container button {
    background-color: #fff;
    color: #333;
}

.dark-mode .toggle-container button:hover {
    background-color: #ccc;
}

.dark-mode .blog-content {
    background-color: #222;
}

.dark-mode .blog-post {
    border-color: #555;
}

.dark-mode .blog-post h3 {
    color: #fff;
}

.dark-mode .blog-post p {
    color: #ccc;
}